In [1]:
import os
import pandas as pd
import datetime

In [2]:
load = pd.read_csv('load_archive_032023_to_072023.csv',parse_dates=[0]).rename(columns={'Pa(kW)':'PLa','Pb(kW)':'PLb','Pc(kW)':'PLc','Ptot(kW)':'PLtot'	})
pv = pd.read_csv('pv_archive.csv',parse_dates=[0]).rename(columns={'Pa (kW)':'PVa',	'Pb (kW)':'PVb','Pc (kW)':'PVc','Ptot (kW)':'PVtot'	})

In [3]:
pv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11764 entries, 0 to 11763
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   11764 non-null  datetime64[ns]
 1   Ia (A)     11764 non-null  float64
 2   Ib (A)     11764 non-null  float64
 3   Ic (A)     11764 non-null  float64
 4   PVa        11764 non-null  float64
 5   PVb        11764 non-null  int64
 6   PVc        11764 non-null  float64
 7   PVtot      11764 non-null  float64
 8   VAa (V)    11764 non-null  int64
 9   VAb (V)    11764 non-null  int64
 10  VAc (V)    11764 non-null  int64
 11  VAtot (V)  11764 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(5)
memory usage: 1.1 MB

In [4]:
load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11830 entries, 0 to 11829
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      11830 non-null  datetime64[ns]
 1   Ia(A)         11830 non-null  float64
 2   Ib(A)         11830 non-null  float64
 3   Ic(A)         11830 non-null  float64
 4   In(A)         11830 non-null  float64
 5   Iavg(A)       11830 non-null  float64
 6   Va(V)         11830 non-null  float64
 7   Vb(V)         11830 non-null  float64
 8   Vc(V)         11830 non-null  float64
 9   Vavg(V)       11830 non-null  float64
 10  PLa           11830 non-null  float64
 11  PLb           11830 non-null  float64
 12  PLc           11830 non-null  float64
 13  PLtot         11830 non-null  float64
 14  VARa(kVAR)    11830 non-null  float64
 15  VARb(kVAR)    11830 non-null  float64
 16  VARc(kVAR)    11830 non-null  float64
 17  VARtot(kVAR)  11830 non-null  float64
 18  VAa(V)        11830 non-null  float64
 19  VAb(V)        11830 non-null  float64
 20  VAc(V)        11830 non-null  float64
 21  VAtot(V)      11830 non-null  float64
 22  PFa           11830 non-null  float64
 23  PFb           11830 non-null  float64
 24  PFc           11830 non-null  float64
 25  PFtot         11830 non-null  float64
 26  DFa           11830 non-null  float64
 27  DFb           11830 non-null  float64
 28  DFc           11830 non-null  float64
 29  DFtot         11830 non-null  float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 2.7 MB

In [8]:
a = load.merge(pv,on='datetime')

In [9]:
a

,datetime,Ia(A),Ib(A),Ic(A),In(A),Iavg(A),Va(V),Vb(V),Vc(V),Vavg(V),...,Ib (A),Ic (A),PVa,PVb,PVc,PVtot,VAa (V),VAb (V),VAc (V),VAtot (V)
0,2023-05-13 00:00:00,1.139837,0.321995,1.359919,1.351859,0.940303,227.490815,229.151883,227.021672,227.888177,...,0.41,0.42,0.05453,0,0.09374,0.05331,0,0,0,0
1,2023-05-13 00:15:00,1.332080,0.320325,1.357424,1.437538,1.003942,227.757655,229.441590,227.321859,228.173728,...,0.41,0.42,0.05453,0,0.09374,0.05331,0,0,0,0
2,2023-05-13 00:30:00,1.139704,0.319020,1.351638,1.342704,0.938876,227.701657,229.284576,227.238182,228.074789,...,0.41,0.42,0.05453,0,0.09374,0.05331,0,0,0,0
3,2023-05-13 00:45:00,1.139911,0.319695,1.248587,1.251732,0.903657,227.787245,229.246371,227.356881,228.130218,...,0.41,0.42,0.05453,0,0.09374,0.05331,0,0,0,0
4,2023-05-13 01:00:00,1.329316,0.320176,1.355541,1.434225,1.003083,227.923124,229.470669,227.516185,228.303330,...,0.41,0.42,0.05453,0,0.09374,0.05331,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,2023-05-05 22:45:00,12.751537,22.755510,14.964901,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.44,0.45,0.04723,0,0.10401,0.05523,0,0,0,0
8230,2023-05-05 23:00:00,9.736516,14.256190,9.736554,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.44,0.45,0.04723,0,0.10401,0.05523,0,0,0,0
8231,2023-05-05 23:15:00,6.307220,8.637919,5.433457,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.44,0.45,0.04723,0,0.10401,0.05523,0,0,0,0
8232,2023-05-05 23:30:00,6.551496,7.555479,5.175178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.44,0.45,0.04723,0,0.10401,0.05523,0,0,0,0
8233,2023-05-05 23:45:00,2.291493,3.643580,2.355963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.44,0.45,0.04723,0,0.10401,0.05523,0,0,0,0

In [10]:
load_mean = load['PLtot'].mean()
pv_mean = pv['PVtot'].mean()

In [11]:
start = max(load['datetime'].min(),pv['datetime'].min()) 
end = start + pd.Timedelta(9,unit='D')

In [21]:
a = [['a','b'],[1,1]]
pd.DataFrame(a,columns=['a','b'])

   a  b
0  a  b
1  1  1

In [7]:
start = max(load['datetime'].min(),pv['datetime'].min()) 
end = min(load['datetime'].max(),pv['datetime'].max())
t1 = 0
t2 = 0
t3 = 0
t4 = 0
load_mean = load[(start <= load['datetime']) & (load['datetime'] < end)]['PLtot'].mean()
pv_mean = pv[(start <= pv['datetime']) & (pv['datetime'] < end)]['PVtot'].mean()
dataset_detail = []
for i in range((end - start).days) :
    today = start + pd.Timedelta(i,unit='D')
    next_4_days = today + pd.Timedelta(4,unit='D')
    load_batch = load[(today <=load['datetime']) & (load['datetime'] < next_4_days)][['datetime','PLa','PLb','PLc','PLtot']]
    pv_batch = pv[(today <= pv['datetime']) & (pv['datetime'] < next_4_days)][['datetime','PVa','PVb','PVc','PVtot']]
    if load_batch.shape[0] == 384 and pv_batch.shape[0] == 384 :
        
        load_batch_mean  =  load_batch['PLtot'].mean()
        pv_batch_mean = pv_batch['PVtot'].mean()
        
        if load_batch_mean >= load_mean and pv_batch_mean >= pv_mean:
            load_type = 'high_load'
            pv_type = 'high_solar'
            t1 += 1
            k = t1
        elif load_batch_mean >= load_mean and pv_batch_mean < pv_mean:
            load_type = 'high_load'
            pv_type = 'low_solar'
            t2 += 1
            k = t2
        elif load_batch_mean < load_mean and pv_batch_mean >= pv_mean :
            load_type = 'low_load'
            pv_type = 'high_solar'
            t3 += 1
            k = t3
        else :
            load_type = 'low_load'
            pv_type = 'low_solar'
            t4 += 1
            k = t4
        
        df_merge =  load_batch.merge(pv_batch,on = 'datetime',how = 'inner')
        df_merge.to_csv('batch_dataset/'+pv_type+'_'+load_type+'_' +str(k)+'.csv',index=False)
        dataset_detail.append([pv_type+' '+load_type+'_' +str(k),pv_type,load_type,pv_batch_mean,load_batch_mean,today])
dataset_detail = pd.DataFrame(dataset_detail,columns=['name','pv_type','load_type','pv_batch_mean','load_batch_mean','start_date'])
dataset_detail.to_csv('batch_dataset/' + 'dataset_detail.csv',index=False)